body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
  }

  @font-face {
    font-family: aggresive;
    src: url(./font/AGRESSIVE.otf);
  }
  
  #logo {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 1;
  }
  
  #logo img {
    width: 200px;
    height: auto;
  }


  #social {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 1;
  }
  #socialtext {
    position: absolute;
    top: 130px;
    right: 40px;
    z-index: 1;
  }
  #socialtext r{
    font-family: Consolas, sans-serif;
    font-size: 13px;
    text-align:center;
    color: white;
  }

  #social img {
   
    cursor: pointer;
  }
  
  #menu {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .menu-button {
    display: block;
    padding: 10px 100px;
    margin: 20px;
    width: 500px;
   
    font-size: 36px;
    
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow: hidden;
        
      }
    font-family: aggresive;
      
      #logo {
        top: 20px;
        left: 20px;
        z-index: 1;
      }
      
      #logo img {
        width: 100px;
        height: auto;
      }

      #social {
        top: 20px;
        left: 50px;
        z-index: 1;
      }
      #socialtext {
        top: 40px;
        left: 50px;
        z-index: 1;
      }
      
      #social img {
        width: 100px;
        height: auto;
      }
      
      #menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-align: center;
      }
      
      .menu-button {
        display: block;
        padding: 10px 20px;
        margin: 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        transition: transform 0.3s ease;
        
      }
      
      .menu-button:hover {
        transform: scale(1.1);
      }
      
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .menu-button:hover {
    transform: scale(1.1);
  }

  
  nav {
    display: flex;
    justify-content: center;
  }
  
.mazh-button {
    position: fixed;
    bottom: 4px;
    right: 20px;
    text-align: center;
    z-index: 999;
}

.mazh-button button {
    margin-bottom: 5px;
}

.mazh-button p {
    margin-top: 0px;
    font-family: 'consolas';
    font-size: 14px;
    color: white;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.9),0px 0px 6px black,0px 0px 6px black; /* Add black shadow */

}

@media (max-height: 530px) {
  #menu {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
}

@media (max-height: 470px) {
  #logo img {
    width: 100px;
    height: auto;
  }
  #menu {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .menu-button {
    display: block;
    padding: 5px 35px;
    margin: 10px;
    width: 350px;
    font-size: 36px;
  }
}

@media (max-width: 1199px) {
  .mazh-button {
    bottom: 45px;
  }
}

@media (max-width: 1009px) {
  #logo img {
    width: 150px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .mazh-button {
    display: none;
  }
  #social{
    display: none;
  }
  #socialtext{
    display: none;
  }
}

@media (max-width: 548px) {
  .menu-button {
    display: block;
    padding: 10px 70px;
    margin: 15px;
    width: 400px;
    font-size: 36px;
  }
}

@media (max-width: 435px) {
  .menu-button {
    display: block;
    padding: 10px 35px;
    margin: 10px;
    width: 350px;
    font-size: 36px;
  }
}

  footer {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  footer r {
    font-family: Consolas, sans-serif;
    font-size: 18px;
    text-align:center;
    color: white; 
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.9),0px 0px 6px black,0px 0px 6px black; /* Add black shadow */

}

  #background-img {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  #background-video {
    display: none; /* Initially hidden */
  }

  
  
  