body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("./pics/fondopic.png");
    background-size: cover;
}

header {
    text-align: center;
    background-image:url("./pics/webheader.jpg");
    padding: 2px 0;

    z-index: 1000;
}

.logo {
    max-width: 270px; 
    margin-right: 90px;
}

.side-logo {
    width: 150px; 
    margin: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

.manifesto-box{
    display: flex; 
}

/* On PC the image for PC appears, on mobile, the image for mobile does it*/
#imglaptop{
    display: block;
}
#imgmobile{
    display: none;
}

/* Mobile version under 768 px */
@media (max-width: 767px) {
    .logo {
        display: none;
    }

    .side-logo{
        width: 115px; 
        margin: 20px;
    }
    .back-button {
        display: none;
    }
    #honeyPotImage {
        display: none;
    }
    .manifesto-box{
        display: block;
    }

    .manifesto-text{
        flex: 0;
    }

    #imglaptop{
        display: none;
    }
    #imgmobile{
        display: block;
        max-width: 100%;
    }

    nav {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
    }

    /* Divide menu in 2 rows */
    .mobile-button:nth-child(1),
    .mobile-button:nth-child(2) {
        flex: 0 1 auto; 
        margin: 10px; 
        justify-content: center; 
    }

    .mobile-button:nth-child(3) {
        flex: 0 1 100%; 
        text-align: center;
        display: flex;
        justify-content: center; 
        margin-top: 10px;
    }
}


@media (min-width: 1200px) {
    .logo {
        margin-right: 20%; 
    }
    
}


@media (min-width: 1300px) {
    .logo {
        margin-right: 25%; 
    }
}

/* Further increase margin on very wide screens */
@media (min-width: 1400px) {
    .logo {
        margin-right: 30%; 
    }
}

@media (min-width: 1750px) {
    .logo {
        margin-right: 40%; 
    }
}

@media (min-width: 2000px) {
    .logo {
        margin-right: 45%; 
    }
}


main {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    background-image:url("./pics/webheader.jpg");
    padding: 15px 0;
    
}

div{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px;
}

button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .7s ease-in-out;
    margin-right: 30px;

}

button:hover{
    transform: scale(1.1);
}


p{
    font-size: 18px; 
    font-family: "Merienda", cursive;
    color: white;
    text-align: justify;
}


.buttoncontainer p{
    margin-top: 0px; 
    font-family: 'consolas';
    font-size: 14px;
    color: white;
}

r{
    font-size: 18px; 
    font-family: 'AGRESSIVE', sans-serif; /* Custom font */
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
m{
    font-size: 22px; 
    font-family: Consolas, sans-serif;
    color: orange;
    display: flex;
}

/* Sticky class */
.sticky {
position: fixed;
top: 0;
width: 100%
}

.sticky + .content {
padding-top: 102px;
}


/* Image */

.image-container {
    overflow: hidden;
    max-width: 948px; 
    margin: 0 auto;
}

.image-wrapper {
    display: flex;
    gap: 1.5rem; 
    /* Animation defined in JavaScript */
}

.image-wrapper > * {
    flex: 0 0 300px; 
    height: 300px;   
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}

