body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url("./pics/fondopic.png");
    background-size: cover;
}

header {
    text-align: center;
    background-image:url("./pics/webheader.jpg");
    padding: 2px 0;

    z-index: 1000;
}

.logo {
    max-width: 270px; /* Adjust the max-width as needed */
    margin-right: 90px;
}

nav {
    display: flex;
    justify-content: center;
}

/* Mobile version under 768 px */
@media (max-width: 767px) {
    .logo {
        display: none;
    }
    #honeyPotImage {
        display: none;
    }
    div[style*="display: flex"] {
        flex-direction: column; /* Stacks the content vertically on mobile */
    }
    div[style*="flex: 1"] {
        flex: none;
        width: 100%; /* Ensure text occupies full width */
    }
}

@media (min-width: 1200px) {
    .logo {
        margin-right: 20%; 
    }
    
}


@media (min-width: 1300px) {
    .logo {
        margin-right: 25%; 
    }
}

@media (min-width: 1400px) {
    .logo {
        margin-right: 30%; /* Further increase margin on very wide screens */
    }
}

@media (min-width: 1750px) {
    .logo {
        margin-right: 40%; /* Further increase margin on very wide screens */
    }
}

@media (min-width: 2000px) {
    .logo {
        margin-right: 45%; /* Further increase margin on very wide screens */
    }
}


main {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    background-image:url("./pics/webheader.jpg");
    padding: 15px 0;
    
}

div{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px;
}

button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .7s ease-in-out;
    margin-right: 30px;

}

button:hover{
    transform: scale(1.1);
}


p{
    font-size: 18px; /* Set font size */
    font-family: "Merienda", cursive;
    color: white;
}


.buttoncontainer p{
    margin-top: 0px; /* Add some space between the button and the text */
    font-family: 'consolas';
    font-size: 14px;
    color: white;
}

r{
    font-size: 18px; /* Set font size */
    font-family: 'AGRESSIVE', sans-serif; /* Specify custom font */
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
m{
    font-size: 22px; /* Set font size */
    font-family: Consolas, sans-serif;
    color: orange;
    display: flex;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
position: fixed;
top: 0;
width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
padding-top: 102px;
}


/* IMAGE */

.image-container {
    overflow: hidden;
    max-width: 900px; /* Adjust the width if necessary */
    margin: 0 auto;
}

.image-wrapper {
    display: flex;
    gap: 1.5rem; /* Padding between images */
    /* Animation defined in JavaScript */
}

.image-wrapper > * {
    flex: 0 0 300px; /* Image width */
    height: 300px;   /* Image height */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}

