body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-image: url("./pics/banner.png");
    background-size: cover;
    font-family: 'AGRESSIVE', sans-serif; /* Custom font */
}

.back-button-mobile{
    display: block;
    z-index: 1050;
    top: 10px;
    left: 20px; 
    position: absolute;
  }

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center; 
    align-items: center; 
    padding: 1px;
}

.title {
    font-size: 52px; 
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.9),4px 2px 6px black,0px 0px 2px black; /* Add black shadow */
}


.bottompage {
    font-size: 22px; 
    margin-top: 10px; 
    color: white;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.9),0px 0px 6px black,0px 0px 6px black; /* Add black shadow */
}

.buttons {
    display: flex;
    margin-top: 30px;
    margin-right: 250px;
    margin-left: 250px;
}

.button {
    flex: 1;
    position: relative; 
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.86; /* Buttons semitransparent */
    margin: 15px;
    
}

.button img {
    width: 100%;
    height: auto;
    border-radius: 22px;
}



.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    text-align: center;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.9),0px 0px 6px black,0px 0px 6px black; /* Add black shadow */
}

.button:hover {
    flex-grow: 1.2;
    opacity: 1;
}
.button:not(:hover) {
    flex-grow: 0.9; /* Unselected buttons become smaller */
}

.button:hover .text {
    opacity: 1;
}


/* Mobile version under 768 px */
@media (max-width: 767px) {

    .title {
        text-align: center;
    }
    
    .bottompage {
        text-align: center;
    }

    .buttons {
        margin-right: 25px;
        margin-left: 25px;
    }

    .text {
        display: none;
    }

}


/* Tablet version under 1100 px */
@media (max-width: 1099px) {

    .title {
        text-align: center;
    }
    
    .bottompage {
        text-align: center;
    }

    .buttons {
        margin-right: 25px;
        margin-left: 25px;
    }

    .text {
        display: none;
    }

}