html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
}

body {
  background-image: url('./pics/fondopic.png');
  background-size: auto; 
  background-position: top left; 
  background-repeat: repeat; /* Repeat the background image to cover all gaps */
  min-height: 100vh; 
  background-attachment: scroll; 
  margin: 0;
  padding: 0;
  display: block; 
}


  header {
    width: 100%; 
    text-align: center;
    background-image:url("./pics/webheader.jpg");
    padding: 2px 0;
    position: absolute; 
    z-index: 998;
  }

  container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto; 
    margin-top: 60px;
    padding: 100px 0 0 0; 
    overflow: visible; 
}

  .wrapper {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; 
    flex-direction: row; /* Display images side by side */
    width: 100%;
    height: auto;
  }

nav {
  display: flex;
  justify-content: center;
}

button{
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform .7s ease-in-out;
  margin-right: 30px;

}

button:hover{
  transform: scale(1.1);
}



.logo {
  max-width: 270px; 
  margin-right: 90px;
}

.back-button-mobile{
  display: none;
}




.founder {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 15px; 
  border: 5px solid #ffffff;
  transition: border-color 0.3s ease;
  
}
  
  .founder:hover .founder-img {
    transform: scale(1.2);
    filter: brightness(50%);
  }
  
  .founder-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .founder:hover .founder-text {
    opacity: 1;
  }
  
  .founder-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
  }

  .home-button:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  r {
    color: white;
    text-align: center;
    font-size: 27px; 
    font-family: consolas;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.9),0px 0px 6px black,0px 0px 6px black; /* Add black shadow */
  }
  p {
    color: white;
    text-align: center;
    font-size: 16px; 
    font-family: consolas;
  }


/* Mobile version under 768 px */
@media (max-width: 767px) {

  /* Menu */
  .logo {
      display: none;
  }
  .back-button {
      display: none;
  }
  .back-button-mobile{
    display: block;
    z-index: 1050;
    top: 20px;
    left: 10px; 
    position: absolute;
  }
  nav {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center; 
  }

  /* Divide menu in 2 rows */
    .mobile-button:nth-child(1),
    .mobile-button:nth-child(2) {
        flex: 0 1 auto; 
        margin: 10px; 
        justify-content: center; 
    }

    .mobile-button:nth-child(3) {
        flex: 0 1 100%; 
        text-align: center;
        display: flex;
        justify-content: center; 
        margin-top: 10px;
    }

  /* Founder images */
  div[style*="display: flex"] {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; 
  }

  .founder {
    width: 90%; 
    margin: 10px 0;
    flex-direction: column; 
    height: auto; 
  }

  .founder-img {
    width: 100%; 
    height: auto; 
  }

  .founder-text {
    position: absolute;
    padding: 10px;
    opacity: 1; 
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Easier to read */
    width: 100%; 
    text-align: center;
    box-sizing: border-box; 
    z-index: 100;
  }


}

@media (min-width: 1200px) {
  .logo {
      margin-right: 20%; 
  }
}

@media (min-width: 1300px) {
  .logo {
      margin-right: 25%; 
  }
}

/* Further increase margin on very wide screens */

@media (min-width: 1400px) {
  .logo {
      margin-right: 30%; 
  }
}

@media (min-width: 1750px) {
  .logo {
      margin-right: 40%;
  }
}

@media (min-width: 2000px) {
  .logo {
      margin-right: 45%; 
  }
}
