html, body {
  height: 100%; /* Ensure the body takes the full height */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Stack header and container */
}

body {
  background-image: url('./pics/fondopic.png'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Fix the background image */
  flex-grow: 1; /* Allow the body to grow and fill the space */
}

  header {
    width: 100%; 
    height: 90px;
    text-align: center;
    background-image:url("./pics/webheader.jpg");
    padding: 2px 0;
    position: absolute; 
    z-index: 998;
  }

  container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    flex-direction: column; /* Stack items vertically */
    width: 100%;
    height: calc(100vh - 90px); /* Take full height of the viewport minus header */
    margin: 0;
    padding: 0; /* Removed padding to avoid extra space */
    overflow: hidden;
    padding-top: 100px;
  }

  .wrapper {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    flex-direction: row; /* Display images side by side */
    width: 100%;
    height: auto; /* Adjust the height to fit the content */
  }

nav {
  display: flex;
  justify-content: center;
}

button{
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  transition: transform .7s ease-in-out;
  margin-right: 30px;

}

button:hover{
  transform: scale(1.1);
}



.logo {
  max-width: 270px; /* Adjust the max-width as needed */
  margin-right: 90px;
}


/* Mobile version under 768 px */
@media (max-width: 767px) {
  .logo {
      display: none;
  }

  div[style*="display: flex"] {
    flex-direction: column; /* Stack elements vertically */
    flex-wrap: wrap;        
    align-items: stretch;  
  }
  

  .founder {
    width: 100%; /* Ensure full width on mobile */
    margin: 0 0 15px 0; /* Bottom margin for spacing between items */
    height: auto;            
    box-sizing: border-box;   /
  }

  .founder-img {
    width: 100%;
    height: auto;            
  }

  .founder-text {
    width: 100%;
    height: auto;       
  }

}

@media (max-width: 1000px) {

}

@media (min-width: 1200px) {
  .logo {
      margin-right: 20%; 
  }
}

@media (min-width: 1300px) {
  .logo {
      margin-right: 25%; 
  }
}

@media (min-width: 1400px) {
  .logo {
      margin-right: 30%; /* Further increase margin on very wide screens */
  }
}

@media (min-width: 1750px) {
  .logo {
      margin-right: 40%; /* Further increase margin on very wide screens */
  }
}

@media (min-width: 2000px) {
  .logo {
      margin-right: 45%; /* Further increase margin on very wide screens */
  }
}

.founder {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 15px; /* Add some space between the images */
  border: 5px solid #ffffff; /* Add a white border around the container */
  transition: border-color 0.3s ease; /* Animate the border color */
  
}
  
  .founder:hover .founder-img {
    transform: scale(1.2);
    filter: brightness(50%);
  }
  
  .founder-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .founder:hover .founder-text {
    opacity: 1;
  }
  
  .founder-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
  }

  .home-button:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  r {
    color: white;
    text-align: center;
    font-size: 27px; /* Set font size */
    font-family: consolas;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.9),0px 0px 6px black,0px 0px 6px black; /* Add black shadow */
  }
  p {
    color: white;
    text-align: center;
    font-size: 16px; /* Set font size */
    font-family: consolas;
  }